.ch-1{
   width: 500px;
}
.video-preview-1{
    width:300px;
}
.video-preview{
        width: 100% ;
        display: inline-block;
}
.profile-1{
    display: inline-block;
    vertical-align: top;

}
.content{
    display:inline-block ;
    vertical-align: top;
}
.video-title{

}
.video-author{


}.video-decription{

}
.div{
    margin-top: 0px;
    margin-bottom: 0px;
}