.ch-1{

}
.video-preview{
        width: 500px ;
        display: inline-block;
}
.profile-1{
    display: inline-block;
    vertical-align: top;

}
.content{
    display:inline-block ;
    vertical-align: top;
}
.video-title{

}
.video-author{


}.video-decription{

}